body {
  background-color: #f6f4f4; 
  
}
.navbar{
  border-width: 2%;
  border-style: solid;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-color:   #823521;
}

.headerText{
    font: Century;
    text-align: center;
}
.add{
   color: green;
    
}

.label {
   position: absolute;
   height: 10%;
   width: 100%;
   margin-top: -10%;
   margin-left: 12%;
   
}
a{
    color:black;
    text-decoration: none;
}
.label{
    position: absolute;
    margin-top: 1%;
    margin-left: 12%;
    
}
.from{
     position: absolute;
   height: 10%;
   width: 100%;
   margin-top: 11%;
   margin-left: 13%;
   color: green;
   
}
.to{
   position: absolute;
   height: 10%;
   width: 100%;
   margin-top: 10.8%;
   margin-left: 70%;
   color: green;
   
}
.form {
   position: absolute;
   width: 40%;
   margin-top: 1.5%;
   margin-left: 1%;

   
}
.address{
 /*border-width: 2px 0;
    border-style: solid;
    border-color: grey;*/
    position: absolute;
    height:60%;
    width: 100%;
    margin-top: 5%;
     
    
}
.seller{

     margin-left: 12%;
     border-width:  0 2px 0 0;
     margin-top: 7%;
     border-color: grey;
      border-style: solid;
    /*border-width: 2px 0;
    border-style: solid;
    border-color: grey;
    height:60%;
    width: 40%;
    margin-top: 4.5%;
   margin-left: 12%;*/
}
.buyer{
    position: absolute;
   margin-top: 1.4%;
    /*border-width: 2px 0;
    border-style: solid;
    border-color: grey;
    height:60%;
    width: 40%;
   
   
    */
    margin-left: 57%;
    
}
#submit{
    position: absolute;
    margin-top: 70%;
    margin-left: 85%;
    
}
#date{
    position: absolute;
    margin-top: 5%;
    margin-left: 13%;
    width:20%;
}
#fs{
    position: absolute;
      margin-top: 5%;
    margin-left: 57%;
     width:20%;
    
}
#table{
    position: absolute;
    
    width: 75%;
    margin-left: 15%;
}

#select{
    position: absolute;
    margin-top: 60%;
    width: 10%;
    margin-left: 15%;
}
#payment{
    position: absolute;
    margin-top: 58%;
    margin-left: 15%;
    color: green;
}
#col1{
    position: absolute;
  
    margin-left: 70%;
    width: 10%;
}
#col2{
    position: absolute;
    
    margin-left: 80%;
    width: 10%;
}
#tale_div{
    position: absolute;
    
}